.bg-custom {
  height: 85px;
  background-color: rgba(51, 51, 51, 0.4); /* Use rgba to set the background color with opacity */
  color: #fff;
  /* position: fixed; */
  /* top: 0px; */
}

a {
  color: #fff;
}

.logo {
  height: 100px;
  width: 210px;
}

.navbar-nav li:first-child {
  margin-right: 30px;
}
