<div *ngIf="userEntered">
  <nav class="navbar navbar-expand-lg bg-custom">
    <div class="container-fluid">
      <!-- Logo -->
      <img class="logo" src="../../assets/logonomad.png"  />
        
      <!-- Toggler Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <!-- Navigation Links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <app-search class="search-bar" (searchRequested)="onSearch($event)"></app-search>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home">MY TASKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="taskcreate()">CREATE</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> {{ userNameValue | titleCase }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>











