.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/bg.jpg');/* Replace with the path to your blurred background image */
  background-size: cover;
  filter: blur(3px); /* Apply the blur effect to the background image */
  z-index: -1;
}
body{
  justify-content: center;
  align-items: center;
}

.container-element {
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  border: 1px solid #ccc;
  max-width: 450px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 450px;
  margin-top: 15px;
}

.card {
  width: 400px;
  background-color: rgba(65, 41, 41, 0.4); /* Use RGBA color with opacity */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: aliceblue;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.05); /* Set a background color with a low opacity for card contents */
  padding: 20px;
  border-radius: 10px;
}


  
  
  /* Additional styling for the card */
  