














.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2016/01/09/18/27/journey-1130732_1280.jpg'); /* Replace with the path to your blurred background image */
  background-size: cover;
  filter: blur(3px); /* Apply the blur effect to the background image */
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.articles-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.left-column,
.right-column {
 
  /* max-width: 50%;
  min-width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divider {
  width: 10px;
  background-color: #000;
  margin: 0 20px;
}

.card {
  background-color: rgba(61, 34, 34, 0.8);
  
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  max-width: 180px;
  min-width: 180px;
  
  min-height: 180px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(178, 175, 175);
}

.tasks {
  display: flex;
  flex-wrap: wrap;
}


.title{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 13px;
} 

.tit{
  color: #f0f0f0;
  font-size: 27px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Button Styles */
/* Button Styles */
.button {
  background-color: transparent;
  border: 1px solid #555555;
  border-radius: 3px;
  color: rgb(178, 175, 175);
  padding: 3px 8px;
  transition: background-color 0.3s, color 0.3s;
  
}
.button-container{
 max-height: 20%;
}
.finish-button{
  margin-right: 5px;
}


.button:hover {
  background-color: #555555;
  color: #ffffff;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination2{
  background-color: transparent;
  color: rgb(178, 175, 175);
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  display: inline-block;
  padding: 3px 6px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: #ffffff;
  color: #555555;
}
.tab2 {
  background-color: brown;
  color: rgb(178, 175, 175);
}

.tab1 {
  border-bottom: 2px solid white !important;
  color: rgb(178, 175, 175);
}
.mat-tab-group .mat-tab-header {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #000;
}
/* Add CSS for the loading ring */
.loading-ring {
  
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



