<div class="loading-ring" *ngIf="loading"></div>
<div class="background-image">
  
</div>

<mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
  <mat-tab [labelClass] ="'xxx'" class="tab1" label="Active tasks"> <div class="container">
      <div class="left-column">
        <div class="content1">
          <div class="title">
           
          </div>
          <div class="tasks">
            <div class="card" *ngFor="let task of tasks">
              <div class="title-container">
                <h3>{{ task.title }}</h3>
              </div>
              <div class="content-container">
                <p>{{ task.content }}</p>
              </div>
              <div class="button-container">
                <button (click)="finishedPosts(task.id)" class="button finish-button">Finish</button>
                <button [routerLink]="'/creation/update/' + task.id" class="button edit-button">Edit</button>
              </div>
            </div>
           
            
            <p class="info-text mat-body-1" *ngIf="tasks.length <= 0 && !loading">No active tasks.</p>
          </div>
        </div>
        <mat-paginator class="pagination2" [length]="totalTasks" [pageSize]="taskPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
        *ngIf="tasks.length > 0" animationDuration="2000ms"></mat-paginator>
      </div>
  </div> </mat-tab>
  <mat-tab style="color: rgb(193, 9, 21);" label="Finished tasks"> <div class="right-column">
    <div class="content2">
      <div class="title">
       
      </div>
      <div class="tasks">
        <div class="card" *ngFor="let compltedtask of compltedtasks">
          <div class="title-container"><h3>{{ compltedtask.title }}</h3></div>
          <div class="content-container"><p>{{ compltedtask.content }}</p></div>
          <div class="button-container"><button (click)="onDelete(compltedtask.id)" class="button delete-button">DELETE</button></div>
        </div>
        <p class="info-text mat-body-1" *ngIf="compltedtasks.length <= 0 && !loading">No finished tasks.</p>
      </div>
      <mat-paginator class="pagination2" [length]="totalFinishedTasks" [pageSize]="cmpltdTaksperPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPageF($event)"
           *ngIf="compltedtasks.length > 0" animationDuration="2000ms"></mat-paginator>
    </div>
  </div> </mat-tab>
  
</mat-tab-group>

 
  

